header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    color:#1079ac;
    font-size: 34px;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    font-size: 18px;
    font-family: 'Gentium Book Basic';
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    width: 50%;
    justify-content: center;
}

column{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.col-2{
    text-align: start;
}

column ul{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
